.SideDrawer {
    position: fixed;
    width: 180px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 80px;
    z-index: 200;
    background-color: rgba(134, 73, 73,.2);
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.option{
    text-decoration: none;
}
.option:hover{
    transform: scale(1.2);
}